﻿@model MVC4PS.Models.PsInterpreter
@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-12"> &nbsp;</div>
<div class="col-md-12"> &nbsp;</div>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                @using (Ajax.BeginForm("Index", "Home",
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "res",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "", enctype = "multipart/form-data" })) /* Html.BeginForm("act", "controller"))*/
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(m => m.Command, new { @class = "col-md-2 text-right" })
                            @Html.TextBoxFor(m => m.Command, null, new { @class = "col-md-10 form-control" })
                            <br />
                            @Html.ValidationMessageFor(m => m.Command, null, new { @class = "alert-danger" })
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-default btn-lg">Query</button>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" id="loadelement" hidden></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Result</h3> <br />
                            @Html.TextAreaFor(m => m.Result, new { @class = "text-center col-md-12 boxsizingBorder", @disabled = true, @id = "res", @rows="30"})
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>





@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}